*, html, body {
  margin: 0;
  padding: 0;
}
.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .appContentPageWrapper {
    flex-grow: 1;
  }
}
.flexRowCC {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}